---
- name: Update apt cache
  ansible.builtin.apt:
      update_cache: yes
      cache_valid_time: 3600

- name: Set web packages list
  set_fact:
    web_packages:
      - nginx
      - php-fpm

- name: Install web server and PHP
  ansible.builtin.apt:
    name: "{{ web_packages }}"
    state: present
    update_cache: true

- name: Ensure www-data user exists
  user:
    name: www-data
    state: present
  become: true

- name: Ensure web root exists
  file:
    path: "{{ web_root }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'
  become: true

- name: Deploy index.php template
  ansible.builtin.template:
    src: index.php.j2
    dest: /var/www/html/index.php
    owner: www-data
    group: www-data
    mode: '0644'
  notify: Restart php-fpm

- name: Deploy nginx.conf template
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/default
    owner: root
    group: root
    mode: '0644'
  notify: Restart nginx

- name: Ensure Logrotate Configuration for Nginx
  ansible.builtin.copy:
    dest: /etc/logrotate.d/nginx
    owner: root
    group: root
    mode: '0644'
    content: |
      /var/log/nginx/*.log {
          daily
          missingok
          rotate 14
          compress
          delaycompress
          notifempty
          create 0640 www-data adm
          sharedscripts
          postrotate
              systemctl reload nginx > /dev/null 2>/dev/null || true
          endscript
      }
  notify: Restart nginx
