---
- name: Deploy index.php template
  template:
    src: index.php.j2
    dest: /var/www/html/index.php
  notify: restart php-fpm

- name: Deploy nginx.conf template
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/conf.d/default.conf
  notify: restart nginx

- name: Ensure logrotate configuration for nginx
  copy:
    dest: /etc/logrotate.d/nginx
    content: |
      /var/log/nginx/*.log {
          daily
          missingok
          rotate 14
          compress
          delaycompress
          notifempty
          create 0640 www-data adm
          sharedscripts
          postrotate
              systemctl reload nginx > /dev/null 2>/dev/null || true
          endscript
      }
  notify: restart nginx
